<h1>Welcome to your personal Diabetes insight assistant!</h1>
<br>
<h2>It will track your insulin, BGs, sleep and other health information to provide insights on what seems to be working and what doesn't.</h2>
<hr/>

<p>The app is designed to help manage your everyday. Our aim is to make managing and staying on top of personal goals easier.</p>
<p>Enter some basic information and the app will collect, store and display it for you in an easy to read and accessible format.</p>

<%= link_to 'Start Now!', controller: 'users' %>