<h1>Welcome to GiGi!</h1>
<br>
<h2>Your personal insulin, glucose and health tracker.</h2>
<hr/>

<p>Designed to help manage your everyday, GiGi aims to make managing and staying on top of personal goals easier.</p>
<p>Enter some basic information and GiGi will; collect, store and display it for you in an easy to read and accessible format.</p>

<%= link_to 'The GiGi Tracker App', controller: 'users' %>