<div class="container">
    <div class="content">

        <div class="row">
            <div class="col-sm-8">
                <h1>Welcome to your Diabetes insight assistant!</h1>
                <br>
                <h2>It will track your insulin, BGs, sleep and other health information to provide insights on what seems to be working and what doesn't.</h2>
                <hr/>

                <%= link_to 'Records', user_path(:id) %>
            </div>
        </div>
    </div>
</div>