    <div class="content">
        <br>
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="center-align">Here's more insightful feedback than your "time in range"</h5>
                    <br>
                    <hr/>

                    <%= link_to 'Records', user_path(:id) %>
                </div>
            </div>
        </div>
